@import 'nib'
@import 'common-variables'

nav {
    background-color lighten($wikitonguesBlue, 95%)
    float left
    display inline-block
    width 100%

    ul {
        &.dashboard-nav {
            float left
        }

        &.user-nav {
            float right
        }

        li {
            a {
                color #000
                font-size 1.5em
                display inline-block
                padding 20px
            }
        }
    }
}

.sample-videos {
    display none

    h1 {
        padding 40px
    }

    ul {
        width 100%
        display inline-block
        overflow hidden

        li {
            float left
            display inline-block
            width 25%

            a {
                width 100%
                img {
                    width inherit
                    float left
                }
            }
        }
    }
}

.content-wrapper {
    overflow auto
    .app {
        .weeklytongue {
            a {
                h1 {
                    font-weight 100
                }
            }

            h2 {
                display inline-block
                margin 20px 40px
            }

            .about, .phrasebook, .misc {
                font-size 1.4em
                line-height 1.7em
                width 60%
                float left
                padding 0 60px 0 20px
                font-style initial
            }

            .about {
                background-color #fff
                padding 40px

                h2.language {
                    font-weight 100
                    padding 10px 20px
                    border-radius $radius
                    float left
                    background-color $wikitonguesBlue
                    color #fff
                    margin 0
                }

                p {
                    width 100%
                    float left
                    margin 10px 0

                    &.similarities {
                        background-color lighten($wikitonguesBlue, 95%)
                        padding 30px

                        a {
                            color lighten($wikitonguesBlue, 55%)
                        }
                    }
                }

                span.language {
                    background-color $wikitonguesBlue
                    padding 5px 15px
                    border-radius $radius
                    color #fff
                    text-decoration none
                    font-style initial
                }
            }

            .phrasebook {
                padding 0
                background-color #fff
                margin auto
                border-radius $radius

                .phrasebook-header {
                    border-radius $radius $radius 0 0
                    width 100%
                    float left
                    display inline-block
                    padding 20px 40px
                    background-color lighten($wikitonguesBlue, 0%)
                    color #fff

                    a, h2 {
                        float left
                    }

                    h2 {
                        margin 0
                        font-weight 100
                    }

                    a {
                        float right
                        color #fff
                        padding-right 3px

                        &:hover {
                            color $hoverColor
                        }
                    }
                }

                .language-options {
                    float left
                    width 100%

                    button.translated, button.original {
                        width 50%
                        float left
                        padding 20px 0
                        background-color lighten($wikitonguesBlue, 80%)

                        &.translated {
                            margin-left -5%
                            background-color lighten($wikitonguesBlue, 90%)
                        }
                    }

                    button.translation-direction {
                        width 10%
                        box-sizing border-box
                        padding 20px 0 20px 0
                        float left
                        position relative
                        text-align center
                        background-color lighten($wikitonguesBlue, 90%)
                        left -5%
                        margin-right -5%
                        border-radius 40px
                        transition transform $transitionTime ease-in-out, background-color $transitionTime ease-in-out

                        &:hover {
                            background-color #fff
                            transform rotate(180deg)
                            transition transform $transitionTime ease-in-out, background-color $transitionTime ease-in-out
                        }

                        img {
                            width 30px
                        }
                    }
                }

                ul {
                    width 100%
                    float left
                    margin-top 10px
                    padding 0 70px 10px 70px

                    li {
                        clear both

                        &.original {
                            float left

                            p {
                                float left
                                background-color lighten($wikitonguesBlue, 80%)
                                border-radius 26px 26px 26px 0
                                margin 15px 0 0 0
                            }
                        }

                        &.translated {
                            float right

                            p {
                                text-align right
                                float right
                                background-color lighten($wikitonguesBlue, 95%)
                                border-radius 26px 26px 0 26px
                                position relative
                                z-index 2
                                right -40px
                                border-bottom 2px solid lighten($wikitonguesBlue, 90%)
                                margin -5px 0 20px 0
                            }

                            button.translated-more {
                                float right
                                right 15px
                                transform rotate(-30deg)
                                transition right 2*$transitionTime cubic-bezier(0.175, 0.885, 0.320, 1.275), transform 2*$transitionTime ease-in-out
                            }

                            &:hover {
                                button.translated-more {
                                    right -50px
                                    transform rotate(0deg)
                                    transition right 2*$transitionTime cubic-bezier(0.175, 0.885, 0.320, 1.275), transform 2*$transitionTime ease-in-out
                                }
                            }
                        }

                        p {
                            padding 9px 20px
                            color #555
                        }

                        button.translated-more {
                            position relative
                            padding 12px 20px
                            margin 0
                            z-index 1
                            background-color lighten($wikitonguesBlue, 97%)
                            border-radius 26px
                        }
                    }
                }

                button.new-phrase {
                    width 100%
                    background-color lighten($wikitonguesBlue, 90%)
                    text-align center
                    font-style none
                    border-radius 0 0 $radius $radius
                    padding 20px
                }
            }

            .video {
                padding 0 30px
                width 40%
                float right
                height initial
                background-color transparent

                a {
                    margin-bottom 10px
                    display inline-block

                    img {
                        float left
                        width 100%
                        border-radius $radius

                        &:last-of-type {
                            margin-bottom 0
                        }
                    }
                }

                a.note {
                    width 100%
                    text-align center
                    padding 10px
                    float left
                }
            }
        }
    }
}


.misc {
    box-sizing border-box
    padding 20px 40px 60px 40px
    font-size 2em
    width 100%
    background-color #fff
}
