nav {
  background-color: #eff5f9;
  float: left;
  display: inline-block;
  width: 100%;
}
nav ul {
  float: left;
}
nav ul li a {
  color: #000;
  font-size: 1.5em;
  display: inline-block;
  padding: 20px;
}
.sample-videos {
  display: none;
}
.sample-videos h1 {
  padding: 40px;
}
.sample-videos ul {
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
.sample-videos ul li {
  float: left;
  display: inline-block;
  width: 25%;
}
.sample-videos ul li a {
  width: 100%;
}
.sample-videos ul li a img {
  width: inherit;
  float: left;
}
.content-wrapper {
  overflow: auto;
}
.content-wrapper .app .weeklytongue a h1 {
  font-weight: 100;
}
.content-wrapper .app .weeklytongue h2 {
  display: inline-block;
  margin: 20px 40px;
}
.content-wrapper .app .weeklytongue .about,
.content-wrapper .app .weeklytongue .phrasebook,
.content-wrapper .app .weeklytongue .misc {
  font-size: 1.4em;
  line-height: 1.7em;
  width: 60%;
  float: left;
  padding: 0 60px 0 20px;
  font-style: initial;
}
.content-wrapper .app .weeklytongue .about {
  background-color: #fff;
  padding: 40px;
}
.content-wrapper .app .weeklytongue .about h2.language {
  font-weight: 100;
  padding: 10px 20px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  float: left;
  background-color: #11242f;
  color: #fff;
  margin: 0;
}
.content-wrapper .app .weeklytongue .about p {
  width: 100%;
  float: left;
  margin: 10px 0;
}
.content-wrapper .app .weeklytongue .about p.similarities {
  background-color: #eff5f9;
  padding: 30px;
}
.content-wrapper .app .weeklytongue .about p.similarities a {
  color: #6ca7ca;
}
.content-wrapper .app .weeklytongue .about span.language {
  background-color: #11242f;
  padding: 5px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
  font-style: initial;
}
.content-wrapper .app .weeklytongue .phrasebook {
  padding: 0;
  background-color: #fff;
  margin: auto;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.content-wrapper .app .weeklytongue .phrasebook .phrasebook-header {
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  width: 100%;
  float: left;
  display: inline-block;
  padding: 20px 40px;
  background-color: #193646;
  color: #fff;
}
.content-wrapper .app .weeklytongue .phrasebook .phrasebook-header a,
.content-wrapper .app .weeklytongue .phrasebook .phrasebook-header p {
  float: left;
}
.content-wrapper .app .weeklytongue .phrasebook .phrasebook-header p {
  margin: 0;
}
.content-wrapper .app .weeklytongue .phrasebook .phrasebook-header a {
  float: right;
  color: #fff;
  padding-right: 3px;
}
.content-wrapper .app .weeklytongue .phrasebook .phrasebook-header a:hover {
  color: #ffc328;
}
.content-wrapper .app .weeklytongue .phrasebook .language-options {
  float: left;
  width: 100%;
}
.content-wrapper .app .weeklytongue .phrasebook .language-options button {
  width: 50%;
  float: left;
  padding: 20px 0;
  background-color: #bdd8e7;
}
.content-wrapper .app .weeklytongue .phrasebook .language-options button.translated {
  background-color: #deebf3;
}
.content-wrapper .app .weeklytongue .phrasebook ul {
  width: 100%;
  float: left;
  margin-top: 10px;
  padding: 20px 70px;
}
.content-wrapper .app .weeklytongue .phrasebook ul li {
  width: 100%;
}
.content-wrapper .app .weeklytongue .phrasebook ul li p {
  clear: both;
  display: inline-block;
  padding: 9px 20px;
  margin: 5px 0;
  color: #555;
}
.content-wrapper .app .weeklytongue .phrasebook ul li p.original {
  float: left;
  background-color: #bdd8e7;
  -webkit-border-radius: 26px 26px 26px 0;
  border-radius: 26px 26px 26px 0;
}
.content-wrapper .app .weeklytongue .phrasebook ul li p.translated {
  text-align: right;
  float: right;
  background-color: #deebf3;
  -webkit-border-radius: 26px 26px 0 26px;
  border-radius: 26px 26px 0 26px;
}
.content-wrapper .app .weeklytongue .video {
  padding: 0 30px;
  width: 40%;
  float: right;
  height: initial;
  background-color: transparent;
}
.content-wrapper .app .weeklytongue .video a {
  margin-bottom: 10px;
  display: inline-block;
}
.content-wrapper .app .weeklytongue .video a img {
  float: left;
  width: 100%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.content-wrapper .app .weeklytongue .video a img:last-of-type {
  margin-bottom: 0;
}
.content-wrapper .app .weeklytongue .video a.note {
  width: 100%;
  text-align: center;
  padding: 10px;
  float: left;
}
.misc {
  padding: 20px 40px;
  font-size: 2em;
  width: 100%;
  background-color: #fff;
}
