nav {
  background-color: #eff5f9;
  float: left;
  display: inline-block;
  width: 100%;
}
nav ul.dashboard-nav {
  float: left;
}
nav ul.user-nav {
  float: right;
}
nav ul li a {
  color: #000;
  font-size: 1.5em;
  display: inline-block;
  padding: 20px;
}
.sample-videos {
  display: none;
}
.sample-videos h1 {
  padding: 40px;
}
.sample-videos ul {
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
.sample-videos ul li {
  float: left;
  display: inline-block;
  width: 25%;
}
.sample-videos ul li a {
  width: 100%;
}
.sample-videos ul li a img {
  width: inherit;
  float: left;
}
.content-wrapper {
  overflow: auto;
}
.content-wrapper .app .weeklytongue a h1 {
  font-weight: 100;
}
.content-wrapper .app .weeklytongue h2 {
  display: inline-block;
  margin: 20px 40px;
}
.content-wrapper .app .weeklytongue .about,
.content-wrapper .app .weeklytongue .phrasebook,
.content-wrapper .app .weeklytongue .misc {
  font-size: 1.4em;
  line-height: 1.7em;
  width: 60%;
  float: left;
  padding: 0 60px 0 20px;
  font-style: initial;
}
.content-wrapper .app .weeklytongue .about {
  background-color: #fff;
  padding: 40px;
}
.content-wrapper .app .weeklytongue .about h2.language {
  font-weight: 100;
  padding: 10px 20px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  float: left;
  background-color: #11242f;
  color: #fff;
  margin: 0;
}
.content-wrapper .app .weeklytongue .about p {
  width: 100%;
  float: left;
  margin: 10px 0;
}
.content-wrapper .app .weeklytongue .about p.similarities {
  background-color: #eff5f9;
  padding: 30px;
}
.content-wrapper .app .weeklytongue .about p.similarities a {
  color: #6ca7ca;
}
.content-wrapper .app .weeklytongue .about span.language {
  background-color: #11242f;
  padding: 5px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
  font-style: initial;
}
.content-wrapper .app .weeklytongue .phrasebook {
  padding: 0;
  background-color: #fff;
  margin: auto;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.content-wrapper .app .weeklytongue .phrasebook .phrasebook-header {
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  width: 100%;
  float: left;
  display: inline-block;
  padding: 20px 40px;
  background-color: #11242f;
  color: #fff;
}
.content-wrapper .app .weeklytongue .phrasebook .phrasebook-header a,
.content-wrapper .app .weeklytongue .phrasebook .phrasebook-header h2 {
  float: left;
}
.content-wrapper .app .weeklytongue .phrasebook .phrasebook-header h2 {
  margin: 0;
  font-weight: 100;
}
.content-wrapper .app .weeklytongue .phrasebook .phrasebook-header a {
  float: right;
  color: #fff;
  padding-right: 3px;
}
.content-wrapper .app .weeklytongue .phrasebook .phrasebook-header a:hover {
  color: #ffc328;
}
.content-wrapper .app .weeklytongue .phrasebook .language-options {
  float: left;
  width: 100%;
}
.content-wrapper .app .weeklytongue .phrasebook .language-options button.translated,
.content-wrapper .app .weeklytongue .phrasebook .language-options button.original {
  width: 50%;
  float: left;
  padding: 20px 0;
  background-color: #bdd8e7;
}
.content-wrapper .app .weeklytongue .phrasebook .language-options button.translated.translated,
.content-wrapper .app .weeklytongue .phrasebook .language-options button.original.translated {
  margin-left: -5%;
  background-color: #deebf3;
}
.content-wrapper .app .weeklytongue .phrasebook .language-options button.translation-direction {
  width: 10%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0 20px 0;
  float: left;
  position: relative;
  text-align: center;
  background-color: #deebf3;
  left: -5%;
  margin-right: -5%;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.content-wrapper .app .weeklytongue .phrasebook .language-options button.translation-direction:hover {
  background-color: #fff;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.content-wrapper .app .weeklytongue .phrasebook .language-options button.translation-direction img {
  width: 30px;
}
.content-wrapper .app .weeklytongue .phrasebook ul {
  width: 100%;
  float: left;
  margin-top: 10px;
  padding: 0 70px 10px 70px;
}
.content-wrapper .app .weeklytongue .phrasebook ul li {
  clear: both;
}
.content-wrapper .app .weeklytongue .phrasebook ul li.original {
  float: left;
}
.content-wrapper .app .weeklytongue .phrasebook ul li.original p {
  float: left;
  background-color: #bdd8e7;
  -webkit-border-radius: 26px 26px 26px 0;
  border-radius: 26px 26px 26px 0;
  margin: 15px 0 0 0;
}
.content-wrapper .app .weeklytongue .phrasebook ul li.translated {
  float: right;
}
.content-wrapper .app .weeklytongue .phrasebook ul li.translated p {
  text-align: right;
  float: right;
  background-color: #eff5f9;
  -webkit-border-radius: 26px 26px 0 26px;
  border-radius: 26px 26px 0 26px;
  position: relative;
  z-index: 2;
  right: -40px;
  border-bottom: 2px solid #deebf3;
  margin: -5px 0 20px 0;
}
.content-wrapper .app .weeklytongue .phrasebook ul li.translated button.translated-more {
  float: right;
  right: 15px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  -webkit-transition: right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.4s ease-in-out;
  -moz-transition: right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), -moz-transform 0.4s ease-in-out;
  -o-transition: right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), -o-transform 0.4s ease-in-out;
  -ms-transition: right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), -ms-transform 0.4s ease-in-out;
  transition: right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 0.4s ease-in-out;
}
.content-wrapper .app .weeklytongue .phrasebook ul li.translated:hover button.translated-more {
  right: -50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.4s ease-in-out;
  -moz-transition: right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), -moz-transform 0.4s ease-in-out;
  -o-transition: right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), -o-transform 0.4s ease-in-out;
  -ms-transition: right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), -ms-transform 0.4s ease-in-out;
  transition: right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 0.4s ease-in-out;
}
.content-wrapper .app .weeklytongue .phrasebook ul li p {
  padding: 9px 20px;
  color: #555;
}
.content-wrapper .app .weeklytongue .phrasebook ul li button.translated-more {
  position: relative;
  padding: 12px 20px;
  margin: 0;
  z-index: 1;
  background-color: #f5f9fb;
  -webkit-border-radius: 26px;
  border-radius: 26px;
}
.content-wrapper .app .weeklytongue .phrasebook button.new-phrase {
  width: 100%;
  background-color: #deebf3;
  text-align: center;
  font-style: none;
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  padding: 20px;
}
.content-wrapper .app .weeklytongue .video {
  padding: 0 30px;
  width: 40%;
  float: right;
  height: initial;
  background-color: transparent;
}
.content-wrapper .app .weeklytongue .video a {
  margin-bottom: 10px;
  display: inline-block;
}
.content-wrapper .app .weeklytongue .video a img {
  float: left;
  width: 100%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.content-wrapper .app .weeklytongue .video a img:last-of-type {
  margin-bottom: 0;
}
.content-wrapper .app .weeklytongue .video a.note {
  width: 100%;
  text-align: center;
  padding: 10px;
  float: left;
}
.misc {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 40px 60px 40px;
  font-size: 2em;
  width: 100%;
  background-color: #fff;
}
