@import 'nib'
@import 'common-variables'


#overlay {
    display none
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background rgba($wikitonguesBlue,0.97)
    cursor pointer
    overflow-y scroll
    overflow-x initial

    form {
        &.displayed {
            margin-top 0 !important
            transition margin-top $transitionTime ease-in-out
        }

        &#contact-form, &#submit-form, &#volunteer-form {
            display none
            width 650px
            margin auto
            margin-top -600px
            font-size 16px
            padding 20px 20px 0 20px
            background #fff
            cursor initial
            overflow-y scroll
            transition margin-top $transitionTime ease-in-out

            * {
                width 100%
                resize none
                color $wikitonguesBlue
                box-sizing border-box
                -moz-box-sizing border-box
            }

            .contactLogotype {
                font-family 'Raleway',helvetica
                padding 0 20px 20px 20px
                width auto
                float left

                span {
                    font-family 'Open Sans', sans-serif
                    font-weight 100
                    margin-left 7px
                }
            }

            .close {
                padding 0 20px
                float right
                width auto
                cursor pointer
            }

            .contactLogotype, input, textarea {
                border-radius 0
                font-size 1em
                border none
                margin 0
            }

            input, textarea, p {
                padding 20px 20px 20px 20px
            }

            input[type="text"] {
                border-bottom 1px solid #eaeaea

                &:after {
                    content "X"
                }
            }

            textarea {
                min-height 250px
            }

            #submit {
                font-size 1.5em
                background #fff
                border-top 1px solid #eaeaea
                font-weight 100
            }

            input:hover, textarea:hover, *:focus {
                background lighten($wikitonguesBlue,95%)
                outline none
                transition background ($transitionTime / 2) ease-in-out

                &::-webkit-input-placeholder {
                   color $wikitonguesBlue
                }

                &:-moz-placeholder { /* Firefox 18- */
                   color $wikitonguesBlue
                }

                &::-moz-placeholder {  /* Firefox 19+ */
                   color $wikitonguesBlue
                }

                &:-ms-input-placeholder {
                   color $wikitonguesBlue
                }
            }

            p {
                font-size 1em
                margin 0
                padding 20px 20px 3px 5px
                color #a9a9a9
                border-bottom 1px dashed #EAEAEA
            }
        }

        &#submit-form {
            ul {
                display inline-block
            }
            textarea {
                border-bottom 1px solid #eaeaea

                &:last-of-type {
                    border-bottom none
                }
            }
        }

        &#volunteer-form {
            p {
                padding 20px 20px 10px 20px
                border none
            }

            label {
                color #A9A9A9
                padding 20px
                display block
                cursor pointer
                text-shadow none

                &:hover {
                    background lighten($wikitonguesBlue,95%)
                    color $wikitonguesBlue
                    transition background ($transitionTime / 2) ease-in-out
                }

                input {
                    margin-right 14px
                    width auto
                }
            }

            textarea {
                border-top 1px solid #eaeaea
            }
        }
    }
}