.language-options {
  display: none;
  clear: both;
  float: left;
  display: inline-block;
  margin-bottom: 20px;
  height: 38px;
  overflow: hidden;
}
.language-options li {
  font-size: 1.5em;
  float: left;
  width: 113px;
}
.language-options li .languageButton {
  background: none;
  padding: 5px 10px;
  font-weight: 100;
  height: 38px;
  border-bottom: 2px solid transparent;
}
.language-options li .languageButton.beta:after {
  content: " BETA";
  color: #db0000;
  font-size: 1em;
}
.language-options li .languageButton.active {
  background: #11242f;
  color: #fff;
}
.language-options li .languageButton:hover {
  border-bottom: 2px solid #11242f;
}
.language-modal {
  background: none;
  width: 100%;
  position: fixed;
  border-top: 20px solid #11242f;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: none;
}
.language-modal .modal-wrapper {
  border-bottom: 1px solid #eee;
  background: #fafafa;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.language-modal .modal-wrapper .content-wrapper {
  overflow: auto;
  margin: 0 auto;
  padding-top: 30px;
}
.language-modal .modal-wrapper .content-wrapper.displayLanguageModal {
  margin-top: 0 !important;
  -webkit-transition: margin-top 0.2s ease-in-out;
  -moz-transition: margin-top 0.2s ease-in-out;
  -o-transition: margin-top 0.2s ease-in-out;
  -ms-transition: margin-top 0.2s ease-in-out;
  transition: margin-top 0.2s ease-in-out;
}
.language-modal .modal-wrapper .content-wrapper.hideLanguageModal {
  margin-top: -200px;
  -webkit-transition: margin-top 0.2s ease-in-out;
  -moz-transition: margin-top 0.2s ease-in-out;
  -o-transition: margin-top 0.2s ease-in-out;
  -ms-transition: margin-top 0.2s ease-in-out;
  transition: margin-top 0.2s ease-in-out;
}
.language-modal .modal-wrapper .content-wrapper .language-options {
  height: auto;
  margin: 0 auto 15px auto;
  display: block;
  width: 100%;
}
.language-modal .modal-wrapper .content-wrapper .language-options li {
  width: 10%;
}
.language-modal .modal-wrapper .content-wrapper a {
  text-decoration: none;
  color: #db0000;
  font-size: 1.5em;
  font-weight: 100;
  margin: auto;
  display: block;
  text-align: center;
  clear: both;
  padding: 15px;
  border-top: 1px solid #eee;
}
.language-modal .modal-wrapper .content-wrapper a:hover {
  background: #eee;
  text-shadow: none;
}
.language-modal .background {
  display: none;
  background: #11242f;
  opacity: 0.97;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=97)";
  filter: alpha(opacity=97);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  cursor: pointer;
}
.moreLanguages {
  width: 113px;
  height: 38px;
  float: right;
  border-bottom: 2px solid #11242f;
  font-size: 1.5em;
  background-color: #11242f;
  color: #fff;
  padding: 5px 13px;
}
