.log-in-fields {
  background-color: #11242f;
  display: inline-block;
  width: 100%;
  padding: 0 0 6px 0;
  position: absolute;
  z-index: 2;
  margin-top: -71px;
  -webkit-transition: margin-top 0.2s ease-in-out;
  -moz-transition: margin-top 0.2s ease-in-out;
  -o-transition: margin-top 0.2s ease-in-out;
  -ms-transition: margin-top 0.2s ease-in-out;
  transition: margin-top 0.2s ease-in-out;
}
.log-in-fields.active {
  margin-top: -10px;
  -webkit-transition: margin-top 0.2s ease-in-out;
  -moz-transition: margin-top 0.2s ease-in-out;
  -o-transition: margin-top 0.2s ease-in-out;
  -ms-transition: margin-top 0.2s ease-in-out;
  transition: margin-top 0.2s ease-in-out;
  border-bottom: 4px solid #20455a;
}
.log-in-fields ul {
  width: 90%;
  margin: auto;
}
.log-in-fields ul li {
  float: right;
}
.log-in-fields ul li.left-block {
  float: left;
}
.log-in-fields ul li.left-block a {
  padding-right: 30px;
  padding-left: 30px;
}
.log-in-fields ul li.left-block a:visited {
  color: #fff;
}
.log-in-fields ul li:not(:last-of-type) {
  margin-left: 5px;
}
.log-in-fields ul li input,
.log-in-fields ul li button.go,
.log-in-fields ul li a {
  font-size: 1.5em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: none;
  padding: 15px;
}
.log-in-fields ul li a {
  display: inline-block;
  text-shadow: none;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  padding-bottom: 14px;
}
.log-in-fields ul li a.go {
  background-color: #ffc328;
  color: #fff;
}
.log-in-fields ul li img {
  padding: 0;
  margin: 0;
  height: 50px;
  width: initial;
}
.log-in-area {
  float: right;
}
.log-in-area button {
  width: 113px;
  height: 38px;
  padding: 5px 10px;
  font-size: 1.5em;
  float: left;
}
.log-in-area button.sign-up {
  color: #11242f;
  background-color: transparent;
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  border-bottom: 2px transparent solid;
}
.log-in-area button.sign-up:hover {
  border-bottom-color: #11242f;
}
.log-in-area button.log-in {
  color: #fff;
  background-color: #11242f;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.language-selection {
  display: inline-block;
  float: left;
}
.language-selection.rtl {
  float: left !important;
}
.language-selection.rtl:hover .language-options {
  margin-left: 0;
  -webkit-transition: margin-left 0.2s ease-in-out;
  -moz-transition: margin-left 0.2s ease-in-out;
  -o-transition: margin-left 0.2s ease-in-out;
  -ms-transition: margin-left 0.2s ease-in-out;
  transition: margin-left 0.2s ease-in-out;
}
.language-selection.rtl:hover .language-options li .languageButton.activeLanguage {
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.language-selection:hover .language-options {
  margin-right: 0;
  -webkit-transition: margin-right 0.2s ease-in-out;
  -moz-transition: margin-right 0.2s ease-in-out;
  -o-transition: margin-right 0.2s ease-in-out;
  -ms-transition: margin-right 0.2s ease-in-out;
  transition: margin-right 0.2s ease-in-out;
}
.language-selection:hover .language-options li .languageButton.activeLanguage {
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.language-selection:hover .moreLanguages {
  background-color: #668797;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.language-selection .language-options {
  display: none;
  clear: both;
  float: left;
  display: inline-block;
  height: 38px;
  overflow: hidden;
  margin-right: -43px;
  position: relative;
  -webkit-transition: margin-right 0.2s ease-in-out;
  -moz-transition: margin-right 0.2s ease-in-out;
  -o-transition: margin-right 0.2s ease-in-out;
  -ms-transition: margin-right 0.2s ease-in-out;
  transition: margin-right 0.2s ease-in-out;
}
.language-selection .language-options.rtl {
  margin-right: 0;
  margin-left: -43px;
  -webkit-transition: margin-left 0.2s ease-in-out;
  -moz-transition: margin-left 0.2s ease-in-out;
  -o-transition: margin-left 0.2s ease-in-out;
  -ms-transition: margin-left 0.2s ease-in-out;
  transition: margin-left 0.2s ease-in-out;
}
.language-selection .language-options li {
  font-size: 1.5em;
  float: right;
  width: 113px;
}
.language-selection .language-options li.rtl {
  float: left !important;
}
.language-selection .language-options li.rtl .activeLanguage {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.language-selection .language-options li .languageButton {
  width: 100%;
  background: none;
  padding: 5px 10px;
  font-weight: 100;
  height: 38px;
  border-bottom: 2px solid transparent;
}
.language-selection .language-options li .languageButton.beta:after {
  content: " BETA";
  color: #db0000;
  font-size: 1em;
}
.language-selection .language-options li .languageButton.activeLanguage {
  background: #11242f;
  color: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.language-modal {
  background: none;
  width: 100%;
  position: fixed;
  border-top: 20px solid #11242f;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: none;
}
.language-modal .modal-wrapper {
  border-bottom: 1px solid #eee;
  background: #fafafa;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.language-modal .modal-wrapper .content-wrapper {
  overflow: auto;
  margin: 0 auto;
  padding-top: 30px;
}
.language-modal .modal-wrapper .content-wrapper.displayLanguageModal {
  margin-top: 0 !important;
  -webkit-transition: margin-top 0.2s ease-in-out;
  -moz-transition: margin-top 0.2s ease-in-out;
  -o-transition: margin-top 0.2s ease-in-out;
  -ms-transition: margin-top 0.2s ease-in-out;
  transition: margin-top 0.2s ease-in-out;
}
.language-modal .modal-wrapper .content-wrapper.hideLanguageModal {
  margin-top: -200px;
  -webkit-transition: margin-top 0.2s ease-in-out;
  -moz-transition: margin-top 0.2s ease-in-out;
  -o-transition: margin-top 0.2s ease-in-out;
  -ms-transition: margin-top 0.2s ease-in-out;
  transition: margin-top 0.2s ease-in-out;
}
.language-modal .modal-wrapper .content-wrapper .language-options {
  height: auto;
  margin: 0 auto 15px auto;
  display: block;
  width: 100%;
}
.language-modal .modal-wrapper .content-wrapper .language-options li {
  float: left;
  width: 10%;
}
.language-modal .modal-wrapper .content-wrapper .language-options li button.active {
  background: #11242f;
  color: #fff;
}
.language-modal .modal-wrapper .content-wrapper .language-options li button:hover {
  border-bottom: 2px solid #11242f;
}
.language-modal .modal-wrapper .content-wrapper a {
  text-decoration: none;
  color: #db0000;
  font-size: 1.5em;
  font-weight: 100;
  margin: auto;
  display: block;
  text-align: center;
  clear: both;
  padding: 15px;
  border-top: 1px solid #eee;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.language-modal .modal-wrapper .content-wrapper a:hover {
  background: #eff5f9;
  border-top: 1px solid #deebf3;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  text-shadow: none;
}
.language-modal .background {
  display: none;
  background: #11242f;
  opacity: 0.97;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=97)";
  filter: alpha(opacity=97);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  cursor: pointer;
}
.moreLanguages {
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  width: 43px;
  height: 38px;
  float: right;
  font-size: 1.5em;
  background-color: #11242f;
  color: #fff;
  padding: 5px 13px;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.moreLanguages.rtl {
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
