.content-wrapper .content .progress-bar-container {
  height: 3px;
  width: 100%;
  margin: 0 0 20px 0;
  background-color: #e5eff6;
}
.content-wrapper .content .progress-bar-container .progress-bar {
  width: 0%;
  height: 100%;
  background-color: #11242f;
}
.content-wrapper .content button {
  margin: 0 0 20px 0;
}
.content-wrapper .content ul.list li {
  float: left;
  clear: both;
}
.content-wrapper .content ul.list li input {
  margin-left: 10px;
}
