html,
button,
input,
select,
textarea {
  color: #11242f;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}
::-moz-selection {
  background: #6a8b9b;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #6a8b9b;
  color: #fff;
  text-shadow: none;
}
html {
  font-size: 62.5%;
  line-height: 1.4;
  background: #0e1f28;
}
body {
  color: #11242f;
  background: #fafafa;
  text-shadow: 1px 1px 0 #fff;
  border-top: 20px solid #11242f;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body ul {
  padding: 0;
  margin: 0;
}
body ul li {
  list-style-type: none;
  display: inline-block;
}
body .content-wrapper {
  width: 1280px;
  margin: 15px auto 0 auto;
}
footer {
  width: 100%;
  background: #11242f;
  padding: 30px 0 50px 0;
  clear: both;
  display: inline-block;
}
footer .content-wrapper {
  overflow: auto;
}
footer .content-wrapper .copyright,
footer .content-wrapper ul li,
footer .content-wrapper ul li a {
  margin: 0;
  clear: both;
  text-shadow: none;
  color: #889197;
  line-height: 22.5px;
}
footer .content-wrapper .copyright:hover,
footer .content-wrapper ul li:hover,
footer .content-wrapper ul li a:hover {
  color: #ffc328;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
footer .content-wrapper .copyright {
  display: inline-block;
}
footer .content-wrapper .copyright p {
  margin: 0;
  line-height: 22.5px;
  clear: both;
  float: left;
  font-size: 1.5em;
}
footer .content-wrapper img {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  height: 20px;
  margin: 0 3px -4px 5px;
}
footer .content-wrapper .links {
  float: right;
}
footer .content-wrapper .links ul {
  float: left;
  margin: 0 0 0 50px;
}
footer .content-wrapper .links ul li {
  font-size: 1.3em;
  clear: both;
  display: block;
}
footer .content-wrapper .links ul li.header {
  color: #fff;
  text-shadow: none;
}
footer .content-wrapper .links ul li a {
  cursor: pointer;
  text-decoration: none;
}
@media screen and (max-width: 1450px) {
  .content-wrapper {
    width: 90% !important;
  }
}
button {
  border: none;
}
button:focus {
  outline: none;
}
.rtl {
  direction: rtl !important;
  float: right !important;
}
.rtl li {
  float: right !important;
}
