@import 'nib'
@import 'common-variables'

body {
    display inline-block
    width 100%
}

.submit-page-about {
    width 37%
    float left
    margin-top 3em

    .logo {
        margin 20px 0
        padding 0
        height 200px
    }

    h2.slogan {
        font-size 3.5em
    }

    p#summary {
        font-size 2.5em
    }

    a {
        font-size 2.5em
        text-decoration none
        color $wikitonguesBlue
        transition color $transitionTime ease-in-out

        &:hover {
            span {
                transition color $transitionTime ease-in-out
                color $hoverColor
            }
        }
    }

    a#contact {
        width 100%
        font-size 2.5em
        background none
        color $wikitonguesBlue
        font-weight 100
        cursor pointer
    }
}

#submit-form-page {
    box-sizing border-box
    max-width 650px
    width 60%
    float right
    margin 3em 0
    font-size 16px
    padding 20px 20px 0 20px
    background #fff
    cursor initial
    overflow-y scroll
    transition margin-top $transitionTime ease-in-out

    * {
        width 100%
        resize none
        color $wikitonguesBlue
        box-sizing border-box
        -moz-box-sizing border-box
    }

    .contactLogotype {
        font-family 'Raleway',helvetica
        padding 0 20px 20px 20px
        width auto
        float left

        span {
            font-family 'Open Sans', sans-serif
            font-weight 100
            margin-left 7px
        }
    }

    .close {
        padding 0 20px
        float right
        width auto
        cursor pointer
    }

    .contactLogotype, input, textarea {
        border-radius 0
        font-size 1em
        border none
        margin 0
    }

    input, textarea, p {
        padding 20px 20px 20px 20px
    }

    input[type="text"] {
        border-bottom 1px solid #eaeaea
    }

    textarea {
        min-height 250px
        border-bottom 1px solid #eaeaea

        &:last-of-type {
            border-bottom none
        }
    }

    #send-button {
        font-size 1.5em
        background #fff
        border-top 1px solid #eaeaea
        font-weight 100
    }

    input:hover, textarea:hover, *:focus {
        background lighten($wikitonguesBlue,95%)
        outline none
        transition background ($transitionTime / 2) ease-in-out

        &::-webkit-input-placeholder {
           color $wikitonguesBlue
        }

        &:-moz-placeholder { /* Firefox 18- */
           color $wikitonguesBlue
        }

        &::-moz-placeholder {  /* Firefox 19+ */
           color $wikitonguesBlue
        }

        &:-ms-input-placeholder {
           color $wikitonguesBlue
        }
    }
}